<script id='explore-layout-template' type='text/x-handlebars-template'>

    <div id="top-wrapper">

        <div id="search_bar_wrapper">
            <div id="idx_logo"></div>
            <div id="serch_input">
                <div id="search_bar_reg" class="search_bar_reg"></div>
                <div id="current_city_reg" class="current_city_reg">
                    <div id="current_city">
                        Ciudad Juarez
                    </div>
                </div>
            </div>
        </div>
        <div id="center_content">
            <a href="#Index"> Inicio </a> |
            <a href="#Register"> Registrar </a>
        </div>
    </div>

    <div id="left-column-wrapper">
        <div id="result_msg_wrapper" class="result_msg_wrapper"></div>
        <div id="suggestion_msg_wrapper" class="suggestion_msg_wrapper"></div>
        <div id="search_list_reg" class="search_list_reg"></div>
    </div>

    <div id="nav_buttons">
        <a href="#Explore" id="zi"> Alejar </a> <br />
        <a href="#Explore" id="zo"> Acercar </a><br />
        <a href="#Explore" id="restart_btn"> <img src="/static/ux/images/pc_1024x768/loading_arrow.png" width="32" height="32"> </a><br />
    </div>

    <div id="results_panel">

        <div id="results_panel_top" class="results_panel_top">
            <div id="results_panel_close_btn" class="results_panel_close_btn">
                <a href="#" id="close_results_panel"><img src="/static/ux/images/pc_1024x768/close-btn.png"> </a>
            </div>
            <div sytle="clear:both"></div>
        </div>
        <div id="results_panel_loading" class="results_panel_loading"></div>
        <div id="results_panel_reg" class="results_panel_reg"></div>
    </div>

    <div id="right-column-wrapper">
        <div id="right_col_reg" class="right_col_reg"></div>
    </div>

    <div id="footer">
        footer data
    </div>

</script>